.tile {
    border: 2px solid #999;
    float: left;
    #font-weight: bold;
    #line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-left: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tile.black{
    background: #484848;
}

.tile.white {
    background: #16d795;
}

.board{
    position: center;
    padding: 10px;

}

.clear {
    clear: both;
    content: "";
}