
.small-button {
    background-color: #b2ea8d; /* Green */
    border-color: #282c34;
    padding: 10px 10px;
    width: 33%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    justify-self: center;

}

.timer {
    height: 400px;
    width: 210px;
    align-content: center;
    display: block;
    outline-color: #282c34;
}

.vertical-center {
    border-color: #282c34;
    justify-self: center;
    text-align: center;
    width: 99%;
    background-color: #b2ea8d; /* Green */

}
